body{
    background-color: rgb(153, 131, 131);/* add a mixture of red and grey background color */
}
.product-card-container{
    display: flex;/* add flexbox layout */
    padding: 20px;/* space between img and text */
    align-items: flex-start;
}
.product-card{
    display: flex;/* turns the element into flex container */
    flex-wrap: wrap;/* allow item to move on another line when they don't fit */
    border: 1px solid #b2a4a4;/* add a thin border across the image */
    padding: 1em;/* add padding content */
    margin: 1em;/* add some margin across the content */
}
.product-card img{
    border-radius: 32px;/* add border radius to remove sharp edges */
    flex: 1 1 auto;/* allow it to shrink and grow as needed */
    padding: 0.5em;/* add spacing around */
    width: 40%;/* sets image to 40% of the screen size */
    float: left;
}
h1{
    font-weight: 800;
    text-align: center;
    font-style: italic;
}
